* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
h1{
    text-align: center;
}
*/
a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


/*body*/
.imagen-fondo {
    background: url(../img/water-20044.jpg);
}


/* header*/
header {
    background-color: darkgrey;
    color: black;
    padding: 1rem;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header li {
    text-align: center;
    list-style: none;
    margin-bottom: 1rem;
}

header form {
    display: none;
}




/*Galeria*/

.letra-titulos {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.galeria {
    padding: 1rem;
}

.alineacion-titulos {
    text-align: center;
    margin-bottom: 1rem;
}

.contenedor-galeria {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.contenedor-galeria img {
    max-height: 350px;
    object-fit: cover;
}

/*medias queris*/
/*tablets*/

@media (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
    }

    header form {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0,5rem;
    }

    header nav {
        grid-column: span 2;
    }

    header ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .cont-titulo-header {
        display: flex;
        align-items: center;
    }

    .cont-titulo-header h1 {
        margin: 0;
    }

    .contenedor-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 300px);
    }

    .contenedor-galeria img.imagen-destacada {
        width: 100%;
        max-height: 100%;
        grid-column: span 2;
        grid-row: span 2;
    }
}
/*desktop*/
@media(min-width:1200px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    }
    .contenedor-galeria {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }

    .contenedor-galeria img.imagen-destacada {
        grid-column: span 1;
        grid-row: span 2;
    }
}