* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

@mixin formato-texto-tarjetas {
    text-align: center;
    font-size: 1rem;
}

$color-primario: grey;
$color-fondo-primario: beige;
$color-degradee-primario: linear-gradient(180deg, rgba(100, 120, 237, 1) 33%, rgba(255, 255, 255, 1) 100%);
$color-sombras-primario: #000000;

.caja-contenedora-principal {
    background-color: $color-primario;
    height: auto;
    align-items: stretch;
    display: grid;
    gap: 1rem;
    margin: 0% 10% 0% 10%;
}


