* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

@mixin formato-texto-tarjetas {
    text-align: center;
    font-size: 1rem;
}

.caja-contenedora-principal {
    background-color: grey;
    height: auto;
    align-items: stretch;
    display: grid;
    gap: 1rem;
    margin: 0% 10% 0% 10%;
}


