.caja-familia {
    background-color: $color-primario;
    color: $color-sombras-primario;
    padding: 5% 40% 5% 5%;
    margin: 2% 0% 2% 0%;
    position: relative;
    & img {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30%;
        &:hover {
            width: 25%;
        }
    }
}

.titulo-destacadas {
    background: $color-degradee-primario;
    text-align: center;
    height: auto;
}