header {
    background-color: $color-primario;
    color: $color-sombras-primario;
    padding: 1rem;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: fantasy;
    font-size: 2rem;
}

header ul {
    text-align: center;
    list-style: none;
    margin-bottom: 1rem;
}
header form {
    display: none;
}

@media (min-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
    }

    header form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0,5rem;
    }

    header nav {
        grid-column: span 2;
    }

    header ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

@media (min-width:1200px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}